<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="true" version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:/spring/spring-sdk-config.xml
            classpath:/spring/spring-sdk-db.xml
            classpath:/spring/spring-sdk-service.xml
        </param-value>
    </context-param>

    <listener>
		<description>
			ServletRequestListener implementation for ThreadLocal.
			How to get request ,please see HttpServletRequestThreadLocal.
			since 1.1.4
		</description>
		<listener-class>com.taobao.dc.sdk.view.servlet.listener.ThreadLocalServletRequestListener</listener-class>
	</listener>
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	<listener>
		<listener-class>com.taobao.dc.sdk.view.servlet.listener.SDKConextLoadListener</listener-class>
    </listener>
    
    <filter>
    	<description>
    		The Servlet filter for template,e,g, locate template and so on.
    		@since 1.1.5
    	</description>
    	<filter-name>templateServletFilter</filter-name>
    	<filter-class>com.taobao.dc.sdk.view.servlet.filter.TemplateServletFilter</filter-class>
    </filter>
    
    <filter-mapping>
    	<filter-name>templateServletFilter</filter-name>
    	<url-pattern>/*</url-pattern>
    	<dispatcher>REQUEST</dispatcher>
    	<dispatcher>FORWARD</dispatcher>
    	<dispatcher>INCLUDE</dispatcher>
    	<dispatcher>ERROR</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>RenderServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.RenderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.ResourceServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ModuleEditServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.ModuleEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleRenderServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.ModuleRenderServlet</servlet-class>
    </servlet>  
    <servlet>
        <servlet-name>ItemComponentServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.ItemComponentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryComponentServlet</servlet-name>
        <servlet-class>com.taobao.dc.sdk.view.servlet.CategoryComponentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderServlet</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModuleEditServlet</servlet-name>
        <url-pattern>/module/edit.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModuleRenderServlet</servlet-name>
        <url-pattern>/module/render.action</url-pattern>
    </servlet-mapping>
    
   <servlet-mapping>
        <servlet-name>ItemComponentServlet</servlet-name>
        <url-pattern>/module/itemComponent.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryComponentServlet</servlet-name>
        <url-pattern>/module/categoryComponent.do</url-pattern>
    </servlet-mapping>
</web-app>


